<a mat-list-item class="sidenav-link" [routerLink]="['/dashboard']" >

  <mat-icon class="dash" mat-list-icon>dashboard</mat-icon>
  <span class="title" mat-line>dashboard<span class="spacer">&nbsp;</span></span>
 
</a>
<a mat-list-item class="sidenav-link" [routerLink]="['/tests']" >
  <mat-icon mat-list-icon>timer</mat-icon>
  <span class="title" mat-line>tests</span>
  
</a>
<a mat-list-item class="sidenav-link" [routerLink]="['/suites']" >
  <mat-icon mat-list-icon>work</mat-icon>
  <span class="title" mat-line>suits</span>

</a>