<a mat-list-item class="sidenav-link" [routerLink]="['/comp1']" (click)="toggleRightSidenav()">

  <mat-icon class="dash" mat-list-icon>dashboard</mat-icon>
  <span class="title" mat-line>comp1 fdsfsdfsd fsdsfdsfsd sdfds</span>
  <span mat-line class="secondary">test</span>
</a>
<a mat-list-item class="sidenav-link" [routerLink]="['/comp2']" (click)="toggleRightSidenav()">
  <mat-icon mat-list-icon>android</mat-icon>
  <span class="title" mat-line>comp2</span>
  <span mat-line class="secondary">test</span>
</a>
