<mat-sidenav #sidenav class="bgimg" mode="push" class="app-sidenav">
  <mat-toolbar color="primary">
    <!--future svg to go here-->
    <span class="toolbar-filler"></span>
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-nav-list>
    <app-side-nav></app-side-nav>
  </mat-nav-list>
</mat-sidenav>
<mat-toolbar id="appToolbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
              <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
  <h1 class="component-title">
    <a class="title-link">{{title}}</a>
  </h1>
  <span class="toolbar-filler"></span>
  <a  routerLink = "/signup" id="button-login" mat-button>Sign Up</a>
  <!--<button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
  <a  routerLink = "/logout" (click)="logout()" id="button-logout" mat-button>Log out</a>
  <a  routerLink = "/login" id="button-login" mat-button>Log in</a>
</mat-toolbar>
