<mat-sidenav #sidenav class="bgimg" mode="push" class="app-sidenav">
  <mat-toolbar color="primary">
    <!--future svg to go here-->
    <span class="toolbar-filler"></span>
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-nav-list>
    <app-side-nav></app-side-nav>
  </mat-nav-list>
</mat-sidenav>
<mat-toolbar id="appToolbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
              <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
  <h1 class="component-title">
    <a class="title-link">{{title}}</a>
  </h1>
  <span class="toolbar-filler"></span>
  <a *ngIf="!userIsAuthenticated" routerLink = "/signup" id="button-login" mat-button>Sign Up</a>
  
  
  <a mat-button *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu" ><mat-icon class="material-icons" style="font-size: 23px;">person</mat-icon><span class="name">{{username|titlecase}}</span></a>
  <mat-menu   #menu="matMenu" class="customize">
    <button mat-menu-item >Edit</button>
    <a  routerLink = "/logout" (click)="logout()" id="button-logout" mat-menu-item>Log out</a>
  </mat-menu>
  <a *ngIf="!userIsAuthenticated" routerLink = "/login" id="button-login" mat-button>Log in</a>
</mat-toolbar>
