.toolbar-filler {
    flex: 1 1 auto
  }
  .icon .mat-icon{
  color:rgb(243, 168, 83);
  font-size: 40px;
  margin-top: -15px;
  }
  
  .mat-menu-item {
    color: rgb(74, 74, 78) !important;
    font-size: 16px;
  }
  
  button.mat-menu-item{
      background-color: rgb(243, 204, 77);
  }
  
  button.mat-menu-item:hover {
      background-color: rgba(243, 232, 83, 0.692);
      color: rgb(53, 51, 51) !important;
      font-size: 16px;
  }
  ::ng-deep .customize {
    background:  rgb(243, 204, 77);
  }
  .name {
   font-size: 22px;
 }